@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0%;
  font-family: "Raleway"; }

.cajaContacto1 ul li, .cajaFormulario {
  color: white;
  font-size: 100%; }

.textoMision p, .textoVision p {
  padding-left: 10%;
  padding-right: 10%; }

.fotoLogo {
  border: solid #212121 0.5vw;
  filter: drop-shadow(15px 15px 20px #705f47);
  width: 35vw;
  border-radius: 15px; }
  .fotoLogo:hover {
    border: 0; }

.divLogo {
  position: absolute;
  left: 60vw;
  top: 18vw;
  width: 38vw; }

.fotoHistoria {
  border-radius: 15px; }

.section1 {
  background-color: #cbdcb5;
  border-bottom: 10px solid #474747; }

.section2, .section3 {
  background-color: #cbdcb5; }

.tituloHistoria {
  font-family: "Raleway";
  font-size: 150%;
  font-weight: 900; }

.fotoCara {
  width: 70vw; }

.animate__animated, .animate__slideInRight {
  --animate-duration:3s; }

.parrafoIndex {
  font-size: 120%; }

.fraseFinal {
  font-weight: bold;
  font-size: 95%;
  font-family: "Questrial"; }

.fraseDestacada {
  font-style: italic;
  text-decoration: underline; }

.galeria {
  background-color: #beaf99; }

.tituloGaleria {
  font-family: "Questrial";
  color: white;
  text-shadow: #554836 2px 2px 2px;
  animation-iteration-count: infinite; }

.cajaChica {
  background-color: white; }

.fotoGaleria {
  border: #cbdcb5 solid 10px;
  filter: drop-shadow(15px 15px 10px #705f47);
  width: 23vw;
  margin: 1rem; }
  .fotoGaleria:hover {
    transform: scale(0.95);
    filter: blur(2px);
    transition: all 0.3s; }

.fotoMujer {
  filter: drop-shadow(15px 20px 8px #cbdcb5);
  height: 40vh;
  border-radius: 15px; }

.infoMujer, .infoMujer, .infoMujer {
  background-color: #beaf99; }
  .infoMujer h2, .infoMujer h2, .infoMujer h2 {
    margin-bottom: 3vh;
    font-size: 120%; }
  .infoMujer:hover, .infoMujer:hover, .infoMujer:hover {
    background-color: #cbdcb5;
    transition: all 1.5s; }

.textoMision {
  background-color: #cbdcb5;
  color: black; }

.textoVision {
  background-color: #beaf99;
  color: black; }

.tituloServicios {
  background-color: #cbdcb5; }

.fotoServicios {
  filter: drop-shadow(15px 15px 20px #705f47);
  border-radius: 5%; }
  .fotoServicios:hover {
    filter: grayscale(100%); }

.elegirServicios {
  border-radius: 20px; }

.navbar {
  background-color: #554836 !important;
  z-index: 3;
  width: 100vw; }
  .navbar a {
    text-decoration: none;
    color: white;
    text-shadow: black 2px 2px 2px;
    margin-left: 5px;
    border-radius: 10px; }
  .navbar li a:hover {
    color: #554836;
    transition: all 0.3s;
    background-color: #cbdcb5;
    text-shadow: none; }

.nav-item--active {
  background-color: #cbdcb5;
  color: #554836;
  border-radius: 10px; }
  .nav-item--active a {
    text-shadow: none;
    color: black;
    font-weight: 500; }

.navbar-brand:hover {
  color: #cbdcb5; }

.animate__slideInRight {
  --animate-duration:3s; }

.animate__heartBeat {
  --animate-duration:10s; }

.footerContacto {
  background-color: #212121; }

.textoFantasma {
  font-size: 100%; }
  .textoFantasma:focus {
    background-color: #cbdcb5; }

.cajaContacto1 ul li {
  padding: 9px;
  list-style-type: none; }

.cajaFormulario {
  position: relative; }

.botonSubmit {
  background-color: #a49179fc;
  font-size: 40%;
  font-weight: 900;
  margin-top: 5px; }
  .botonSubmit:hover {
    background-color: #cbdcb5; }

.tituloFooter {
  font-family: "Raleway";
  font-size: 150%;
  top: 2vh;
  color: white;
  animation-iteration-count: infinite; }

.tituloHorarios {
  font-size: 100%;
  color: white;
  font-weight: bolder;
  text-decoration: underline; }

.horarios li {
  list-style-type: none;
  padding: 7px;
  font-size: 100%;
  color: white; }

.iconosRedes {
  display: flex;
  width: 25px;
  flex-direction: column;
  height: 150px;
  justify-content: space-between; }
  .iconosRedes img:hover {
    transform: scale(1.3);
    transition: all 0.2s; }
